{%  extends 'base.html' %}

{% block titulo %}
{% endblock %}

{% block contenido %}
            <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a> </a>
                <div class="btn-group" role="group" aria-label="Variables">
                 <button type="button" class="btn btn-primary">En Progreso</button>
                 <button type="button" class="btn btn-primary">En pausa</button>
                 <button type="button" class="btn btn-primary">Abandonado</button>
                 <button type="button" class="btn btn-primary">Mas vistos</button>
                 <button type="button" class="btn btn-primary">Resien Agragados</button>
                 <button type="button" class="btn btn-primary">Resien Actualizados</button>
                </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
        </nav>
    </header>
{% endblock %}
